AUTOMIND_APP_FACTORY_PORT=3102
AUTOMIND_APP_FACTORY_API_ORIGIN=http://127.0.0.1:3102
AUTOMIND_APP_FACTORY_WEB_ORIGIN=http://127.0.0.1:5174
AUTOMIND_APP_FACTORY_DATA_ROOT=../../data/app-factory
AUTOMIND_APP_FACTORY_GENERATED_ROOT=../../generated-apps
AUTOMIND_APP_FACTORY_DOWNLOAD_ROOT=../../data/app-factory/downloads
AUTOMIND_APP_FACTORY_DEFAULT_OPERATOR=Enterprise Operator
AUTOMIND_APP_FACTORY_AGENT_MODE=deterministic
